{{- if .Values.analytics.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: enterprise-analytics-api
  labels:
    {{- include "protopie.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app: ent-analytics-api
  template:
    metadata:
      labels:
        app: ent-analytics-api
    spec:
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- .Values.imagePullSecrets | toYaml | nindent 8 }}
      {{- else if .Values.imageCredentials }}
      imagePullSecrets:
      - name: protopie-private-registry
      {{- end }}
      containers:
      - name: ent-analytics-api
        image: "{{ .Values.image.analytics.api.repository }}:{{ .Values.image.analytics.api.tag }}"
        imagePullPolicy: {{ .Values.image.analytics.api.pullPolicy }}
        env:
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: db-config
              key: host
        - name: DB_PORT
          valueFrom:
            configMapKeyRef:
              name: db-config
              key: port
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: db-config
              key: analytics-database
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: write-user
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: write-password
        - name: DJANGO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: analytics-secret
              key: django-secret-key
        - name: ROOT_PATH
          value: {{ .Values.analytics.api.env.ROOT_PATH }}
        - name: DEBUG
          value: {{ .Values.analytics.api.env.DEBUG }}
        - name: ALLOWED_HOSTS
          value: {{ .Values.analytics.api.env.ALLOWED_HOSTS | quote }}
        ports:
        - name: http
          containerPort: 8000
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /
            port: http
        readinessProbe:
          httpGet:
            path: /
            port: http
---
apiVersion: v1
kind: Service
metadata:
  name: ent-analytics-api-svc
  labels:
    {{- include "protopie.labels" . | nindent 4 }}
spec:
  selector:
    app: ent-analytics-api
  ports:
  - name: analytics-api
    port: 80
    targetPort: 8000
{{- end }}
