{{- if not .Values.db.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: db-secret
  labels:
    {{- include "protopie.labels" . | nindent 4 }}
type: Opaque
data:
  read-user: {{ .Values.db.env.DB_READ_USER | b64enc | quote }}
  write-user: {{ .Values.db.env.DB_WRITE_USER | b64enc | quote }}
  read-password: {{ include "protopie.db.readPassword" . | b64enc | quote }}
  write-password: {{ include "protopie.db.writePassword" . | b64enc | quote }}
  {{- if .Values.postgresql.enabled }}
  username: {{ .Values.postgresql.auth.username | b64enc | quote }}
  password: {{ .Values.postgresql.auth.password | b64enc | quote }}
  {{- else }}
  username: {{ .Values.db.env.POSTGRES_USER | b64enc | quote }}
  password: {{ .Values.db.env.POSTGRES_PASSWORD | b64enc | quote }}
  {{- end }}
{{- end }}
