{{- if and .Values.userTesting.enabled (not .Values.userTesting.useLegacy) }}
apiVersion: v1
kind: Service
metadata:
  name: user-testing-db
  labels:
    {{- include "protopie.labels" . | nindent 4 }}
    app: user-testing-db
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: postgresql
      protocol: TCP
      name: postgresql
  selector:
    app: user-testing-db
{{- end }}
